@tailwind base;
@tailwind components;
@tailwind utilities;

.fluid {
  @apply px-[1rem] sm:px-[1rem] md:px-[3rem] lg:px-[4rem] xl:px-[6rem];
}

.box {
  @apply border-gray-100 border-[1px] rounded-[10px] md:py-[1rem];
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-[10px];
}

/* Scrollbar thumb */
.scroll::-moz-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 10px;
}

/* Scrollbar thumb on textarea */
.scrollTextarea::-moz-scrollbar-thumb {
  background-color: #8b8b8b;
  border-radius: 5px;
}

.scrollTextarea::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-[5px];
}

.effect {
  @apply rounded-[5px] animate-pulse bg-gray-200;
}

.reduce_svg svg {
  height: 15px;
  width: 15px;
}

.dalu_audio_svg svg {
  height: 20px !important;
  width: 20px !important;
  animation-duration: 0.7s !important;
}
.dalu_special_spinner svg {
  height: 17px !important;
  width: 17px !important;
  animation-duration: 0.7s !important;
}

.dalu_range input::-webkit-slider-thumb {
  @apply h-[15px] w-[15px] bg-blue-600;
}
.dalu_range input::-moz-range-thumb {
  @apply h-[15px] w-[15px];
}

.resetFlowBite {
  border: none;
  outline: none !important;
  outline-offset: 20px;
}

.resetFlowBite:focus {
  border: none;
  outline: none !important;
  outline-offset: 0px;
  box-shadow: 0 0 0 transparent !important;
}

.userReset {
  border: none;
}

.userReset:focus {
  box-shadow: 0 0 0 transparent !important;
  border: 0 solid transparent !important;
  outline: none;
}

.userTextReset:focus {
  box-shadow: 0 0 0 transparent !important;
  border: none;
  /* outline: none; */
}

.hideTopBorder {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.shallow_svg svg {
  height: 10px;
  width: 10px;
}
.shallow svg {
  height: 12px;
  width: 12px;
}

.decrease_svg {
  height: 13px;
  width: 13px;
}