@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .fluid {
    @apply px-[1rem] sm:px-[1rem] md:px-[3rem] lg:px-[4rem] xl:px-[6rem];
  }

  .const {
    display: grid;
  }

  .nav {
    grid-template-columns: ;
  }

  @media screen and (min-width: 768px) {
    .const {
      grid-template-columns: 300px 1fr;
    }
  }
} */

.fluid {
  @apply px-[1rem] sm:px-[1rem] md:px-[3rem] lg:px-[4rem] xl:px-[6rem];
}

.box {
  @apply border-gray-100 border-[1px] rounded-[10px] md:py-[1rem];
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-[10px];
}

.effect {
  @apply rounded-[5px] animate-pulse bg-gray-200;
}
